.view-date {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    /* border: 1px solid #ececec; */
    background-color: var(--color--secondary);
    color: var(--color-bg);
    border-radius: 12px;
    align-items: center;
    justify-content: center;
  }
  
  .view-date__month {
    font-size: 0.75rem;
    font-weight: bold;
  }
  
  .view-date__year {
    font-size: 0.75rem;
  }
  
  .view-date__day {
    font-size: 1.5rem;
    font-weight: bold;
  }