.supermarket__container {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-around;
  margin: auto auto 2rem;
  text-align: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

@media screen and (max-width: 1024px) {
  .supermarket__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .supermarket__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
 