.view-data__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 1rem;
  flex-direction: column;
  color: #40005d;
  font-family: 'Poppins', sans-serif;
}

.MuiChip-label {
  font-family: "Poopins";
}
.view-data-list.css-1yjo05o {
  /* display: flex; */
  display: inline-block;
  justify-content: space-around;
}

.view-data-list {
  padding: 1rem;
  background-color:#eec6c6;
  margin: 2rem auto;
  border-radius: 20px;
  max-width: 95%;

}

.view-data__items {
  display: flex;
  justify-content: space-around;
  background-color: #a892ee;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
}
.view-data-item {
  /* display: flex; */
  display: grid;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 12px;
  max-width: 95%;
  align-content: stretch;
  justify-items: start;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 1rem;
  font-family: 'Poppins', sans-serif;
}

/* No idea how to make it responsive */
@media screen and (min-width: 900px) {
  .view-data-list {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .view-data-item {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}
